body {
    background-color: #f0f8ff;
    color: #333;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

h2 {
    color: #007acc;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 122, 204, 0.2);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #007acc;
    font-weight: 500;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #007acc;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #333;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

button:hover {
    background-color: #005f99;
}

a {
    color: #007acc;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: underline;
}
